body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
#buttons {
  max-width: 310px;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.section {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  min-width: 0;
  border: 0;
}

.section-child {
  padding:3px 3px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.custom_amount div {
  float:left;
}
.custom_amount .amount_input {
  width: calc(100% - 19px);
  margin-left: 3px; 
}
.custom_amount input {
  width: 100%;
  background-color:#fff;
  color:#a2a2a5;
  border: 2px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #a2a2a5;
  height: 31px;
  padding:8px 5px;
  text-align: center;
}
.custom_amount .currency_symbol {
  background-color:#a2a2a5;
  color:#FFF;
  padding:8px 3px;
  width: 10px;
  border:0;
  border-radius:4px;
  font-weight: normal;
}

button, input {
  background-color:#a7a2a2;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 400;
  color:#FFF;
  padding:8px 8px;
  border:0;
  border-radius:4px;
  font-size:1em;
  width: 100%;
}
.active, #checkout-button {
  background-color:#bf8052;
  border-color: #bf8052;
}
#checkout-button {
  cursor: pointer;
}
#error-message {
  font-size: 12px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #d9512b;
  padding: 8px;
}
.grecaptcha-badge { 
    visibility: hidden;
}
#recaptcha_text {
  color: #666666;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
#recaptcha_text a {
  color: #666666;
}

